<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favourites</title>
</head>
<body style="background-color:black">
<h1 style="color:green">These are my favourites sites</h1>
<a href = https://www.facebook.com/ style="color:White"><b>Facebook</b></a><br><br>
<a href = https://www.youtube.com/ style="color:white"><b>YouTube</b></a><br><br>
<a href = https://github.com/AnjikaAnjika/ style="color:white"><b>My Github Account</b></a><br><br><br><br>
<h4 style="color:White">Enter your feedback:</h4>
<form action="/feedback" method="get">
    <textarea style="margin: 0px; width: 654px; height: 168px;background-color:pink;"></textarea><br><br>
    <button name="submit"style="background-color:green">submit</button>
</form>
</body>
</html>